@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 font-sans antialiased;
}

/* Scrollbar nascosta */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom scrollbar per altri elementi */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-100 rounded;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded hover:bg-gray-400;
}
